<section>
<div class="container">
    <div class="header">
        <h2>{{title}}</h2>
        <span>posted by {{users}} 07.06.2024</span>
    </div>
    <div class="body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Qu
            aspernatur, quod. Quaspernatur, quod. Quas
            pernatur, quod. Quaspernatur, quod. Quas
            pernatur, quod. Quaspernatur, quod. Quas</p>
    </div>


    
</div>


        </section>